<section class="bg-light">
  <div class="container mt-5 mb-5 ">
    <div class="row no-gutters">
      <div class="col-12 col-sm-4">

        <div class="card">
          <div class="card-body">
            <p>Current weather</p>
            <img src={{current.conditionIcon}} alt="" width="50" height="50">
            <p class="nowrap">Feels like
            <span class="h2">{{current.feelslikeC}}°</span>
            </p>
            <p>{{current.conditionText}}</p>
            <p>More</p>
          </div>
        </div>

      </div>
      {{#each forecastTop}}
        <div class="col-12 col-sm">
          <div class="card">
            <div class="card-body">
              <p>{{date}}</p>
              <img src={{conditionIcon}} alt="" width="50" height="50">
              <p class="nowrap">Feels like
                <span class="h2">{{tempAvgC}}°</span>
              </p>
              <p>{{conditionText}}</p>
              <p>More</p>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</section>